@charset "UTF-8";
@font-face {
  font-family: "BallparkWeiner";
  src: url("polices/ballpark.eot");
  src: url("polices/ballpark.eot?#iefix") format("embedded-opentype"), url("polices/ballpark.woff") format("woff"), url("polices/ballpark.ttf") format("truetype"), url("polices/ballpark.svg#BallparkWeiner") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dayrom";
  src: url("polices/dayrom.eot");
  src: url("polices/dayrom.eot?#iefix") format("embedded-opentype"), url("polices/dayrom.woff") format("woff"), url("polices/dayrom.ttf") format("truetype"), url("polices/dayrom.svg#Dayrom") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
}

body {
  background-color: #000000;
  color: #faf5f5;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

img {
  height: 60vh;
  width: 100%;
}

h2 {
  font-family: "Shadows Into Light", cursive;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #faf5f5;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .max-width {
    max-width: 1300px;
    text-align: center;
    margin: auto;
  }
}
@media screen and (min-width: 1440px) {
  .max-width {
    max-width: 1500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

header {
  display: flex;
  justify-content: space-between;
  font-family: "Kaushan Script", cursive;
  position: fixed;
  background-color: #000;
  height: 64px;
  width: 100%;
  z-index: 1;
}

header h1 {
  margin-left: 35px;
  align-self: center;
  cursor: default;
}

nav {
  align-self: center;
}
nav ul {
  display: flex;
  margin-right: 35px;
}
nav li {
  margin-left: 25px;
  position: relative;
}
nav .active {
  background-color: #c0702f;
}
nav .btn {
  position: relative;
  color: #faf5f5;
  display: block;
  font-family: "Anton", sans-serif;
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #c0702f;
  padding: 18px 10px;
  text-transform: uppercase;
  overflow: hidden;
}
nav .btn::after {
  content: "";
  background: #c0702f;
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%) rotate(25deg);
  /* permet de déplacer la ligne qui bouge */
  z-index: -1;
  transition: all 0.6s;
  width: 150%;
  height: 0%;
}
nav .btn:hover::after {
  height: 275%;
}

footer {
  width: 100%;
  background-color: black;
  color: #faf5f5;
  text-align: center;
  cursor: default;
  margin-top: 25px;
}
footer h6, footer address, footer p {
  margin: 15px;
}
footer h6 {
  font-size: 2rem;
  font-family: "Kaushan Script", cursive;
}

.accroche {
  height: 90px;
  font-size: 1.7rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kaushan Script", "Arial Narrow", Arial, sans-serif;
  color: #a31010;
  cursor: default;
}

.possibilities {
  height: 450px;
  display: flex;
  justify-content: space-between;
  font-family: "Permanent Marker", sans-serif;
  cursor: default;
}

.choice_1 {
  background-image: url("./img/choice_1.jpg");
  background-position: center;
  opacity: 0.5;
  content: "";
  transition: all 0.6s;
  transform: scale(1);
}
.choice_1:hover {
  opacity: 1;
  transform: scale(1.15);
}

.choice_2 {
  background-image: url("./img/pizza.jpg");
  background-position: center;
  opacity: 0.5;
  content: "";
  transition: all 0.6s;
  transform: scale(1);
}
.choice_2:hover {
  opacity: 1;
  transform: scale(1.15);
}

.choice_1, .choice_2 {
  height: 325px;
  width: 350px;
  background-color: #7e0b0b99;
  margin: 50px auto;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 3px solid #000000;
  -webkit-box-shadow: inset 200px 200px 300px 200px rgba(0, 0, 0, 0.233);
  -moz-box-shadow: inset 200px 200px 300px 200px rgba(0, 0, 0, 0.233);
  box-shadow: inset 200px 200px 300px 200px rgba(0, 0, 0, 0.233);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.choice_1 h2, .choice_2 h2 {
  margin-top: 5px;
  font-size: 2rem;
  color: #faf5f5;
}
.choice_1 p, .choice_2 p {
  margin: 80px 0 35px 0;
  color: #faf5f5;
  font-size: 1.5rem;
}
.choice_1 button, .choice_2 button {
  font-family: "Permanent Marker", sans-serif;
  width: 150px;
  height: 40px;
  background: #a31010;
  color: #d6c1c1;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 8px 7px 19px -3px #000000bd;
  cursor: pointer;
  content: "";
  transition: all 0.6s;
}
.choice_1 button:hover, .choice_2 button:hover {
  background: #b40808;
  animation: anim_button 0.4s infinite alternate;
}

@keyframes anim_button {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}
.propos {
  background-image: url("./img/car.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  cursor: default;
}
.propos h3, .propos p {
  margin: auto;
}
.propos h3 {
  font-family: "Anton", sans-serif;
  letter-spacing: 3px;
  padding: 45px 0;
  width: 26%;
  margin-bottom: 35px;
  font-size: 2rem;
  border-bottom: 2px solid white;
}
.propos p {
  width: 65%;
  text-align: justify;
  letter-spacing: 1px;
  padding: 20px 25px;
  background-color: rgba(0, 0, 0, 0.3);
}

.galerie {
  width: 1200px;
  margin: auto;
}

.galerie img {
  width: 450px;
  height: 350px;
  margin: 25px;
}

.img_menu {
  width: 850px;
}

.menu_img {
  height: 1100px;
  margin: 25px 0;
}

.ou h2, .tel h2, .infos, .horaire h2 {
  font-family: "Anton", sans-serif;
}

.infos {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
.infos aside {
  display: flex;
  flex-direction: column;
}
.infos aside img {
  width: 450px;
  margin: 15px;
}
.infos aside h4 {
  font-size: 1.1rem;
  margin: 25px;
  text-align: center;
  color: #c0702f;
}
.infos h2 {
  color: #c0702f;
}
.infos h3 {
  color: #a31010;
}

.infos_g {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 50px;
}
.infos_g h1 {
  font-size: 2.5rem;
  color: #b40808;
}
.infos_g .horaire {
  margin: 25px auto;
}
.infos_g .horaire ul {
  width: 80%;
  margin: auto;
  margin-top: 15px;
}
.infos_g .horaire ul li {
  display: flex;
  justify-content: space-between;
}
.infos_g .ou {
  margin: 55px;
}
.infos_g .tel {
  margin: 55px;
}
.infos_g .divers {
  width: 350px;
  margin: 25px;
  font-size: 1.5rem;
}
.infos_g .divers p {
  text-align: left;
  padding-left: 55px;
  color: #faf5f5;
}
.infos_g .divers span {
  font-weight: bold;
  color: #a31010;
}

.avis img {
  width: 550px;
}

.formulaire {
  font-family: "Kaushan Script", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  margin: 50px auto;
}
.formulaire legend {
  text-align: left;
  font-size: 1.7rem;
}
.formulaire legend p {
  font-size: 1.3rem;
}
.formulaire form label {
  font-size: 1.5rem;
  margin: 10px;
}
.formulaire form input {
  height: 25px;
}

#button_1 {
  background-color: #c0702f;
  color: #faf5f5;
  margin-left: 25px;
  border-radius: 6px;
}
#button_1:hover {
  color: #1ca310;
  background: #013007;
}

textarea {
  margin-top: 25px;
}

button {
  margin: 10px auto;
  height: 35px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
}
button:hover {
  color: black;
  background-color: #fff;
  cursor: pointer;
}

.testimonials {
  padding: 5rem 1rem;
  width: 70%;
  margin: auto;
}

.testimonials-content {
  display: flex;
  flex-direction: column;
}
.testimonials-content h4 {
  font-family: "Kaushan Script", "Arial Narrow", Arial, sans-serif;
  margin: 0 auto 25px;
  font-size: 1.8rem;
}

.testimonials-elem {
  flex: 1;
  background: #c0702f;
  border-radius: 5px;
  padding: 1.2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.testimonials-elem-text {
  padding: 0 2rem;
  display: flex;
}

.testimonials-elem-text p i {
  margin: 0.2rem;
}

.avis {
  font-size: 1.2rem;
  color: #faf5f5;
  width: 80%;
  margin-left: 50px;
}

.testimonials-elem-profil p {
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}

.testimonials-elem-profil img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
